#cientifica {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.bloco {
  width: 1100px;
  font-size: 50px;
  padding: 20px;
  border-radius: 10px;
}

#display {
  margin-top: 22px;
  border-radius: 10px;
}

button {
  border-radius: 10px;
}
